html, body { height: 100%;}
.container {padding-top: 0px; margin-top: 30px; padding-bottom: 0px; width: 1115px}
.subsection-title {color: rgb(85, 73, 173); font-weight: 700;}
.section-title, .subsection-title {text-transform: uppercase; font-family: 'Roboto mono', monospace;}
.left p {margin-top: 0px}
.photo div{width: 40%; margin-bottom: 20px; background: url(../malek.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}
.photo>div:hover {background: url(../malek-alt.jpg) no-repeat center center fixed;}
.name h1, .name h4 {text-transform: uppercase; margin: 0px;}
.name h1 {font-weight: bold; font-size: 35px;}
.name h4 {font-weight: 600;}
#info, #info-mobile #skills p, .name p, .name h4, .name h1, .keywords {font-family: 'Fira Code', monospace;}
#info-mobile {display:none; padding: 0px 15px;}
#info ul, #info-mobile ul {list-style: none; padding: 0px;}

.highlights, .date, .location {font-family: 'Noto Sans', monospace;}
.date, #info a, #info-mobile a {color: rgb(148, 86, 199);}

::selection {
    background-color:  rgb(240, 200, 260);
    color: rgb(85, 73, 173);
}
@media(max-width: 600px) {
    .container {margin: 20px;}
    .name h1 {font-size: 20px;}
    #info-mobile {display: block;}
    #experience h2 {margin-top:0px;}
}
.keywords{
position: relative;
top: -8px;
}

#name-position {
    top: 30px;
}

#experience {
    position: relative;
    top: -30px;
}

#education {
    position: relative;
    top: -35px;
}

#name-position a {
    cursor: pointer;
}
.selected{
    font-weight: 900;
}